@inherits Umbraco.Web.Mvc.UmbracoViewPage

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    @Html.GetGridHtml(Model, "layout", "bootstrap4")
</body>
</html>